body {
	background: url("fondo.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;	
}

*{
	font-family: 'Roboto Slab', serif;
}
/*		---	---	---	---		Grilla Pagina web compartida		---	---	---	---		*/
.pagina__web {
	display: grid;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(20, 5%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
}

/*		este elemento corresponde a los enlaces de cada página*/
.pagina__web__elemento:first-child {
	display: grid;
	grid-column: 1/8;
	grid-row: 1/2;
}
/*		este elemento corresponde a las animaciones de la izquierda de c/1 de las páginas		*/
.pagina__web__elemento:nth-child(2){
	display: grid;
	grid-column: 2/6;
	grid-row: 4/16;
}
/*		este elemento corresponde a las animaciones de la derecha de c/1 de las páginas		*/
.pagina__web__elemento:nth-child(3){
	display: grid;
	grid-column: 16/20;
	grid-row: 4/16;
}
/*		este elemento corresponde al cuerpo de cada página 					*/
.pagina__web__elemento:last-child {
	display: grid;
	grid-column: 6/16;
	grid-row: 3/20;
}
/*		---	---	---	---		Estilos del menu de enlaces		---	---	---	---		*/
.encabezado{
	display: grid;
	grid-template-columns: repeat(10, 10%);	
	grid-auto-rows: 100%;
	grid-auto-columns: 100%;
	grid-auto-flow: dense;
	align-items: center;
	border-radius: 5px;
}
/*		Estilo de los enlaces 		*/
.enlace__item a{
	display: grid;
	padding: 10px 20px;
	background: rgba(0, 255, 255, 0.3);
	border: 2px solid rgb(0, 255, 255);
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 2px	2px	15px rgb(0, 255, 255);
	align-items: center;
}	
.enlace__item:hover {
	transform: scale(0.95);
}
/*		posición del enlace (1)		*/
.enlace__item:first-child {
	display: grid;
	grid-column: 2/5;
	text-align: center;
}
/*		posición del enlace (2)		*/
.enlace__item:last-child {	
	display: grid;
	grid-column: 6/9;
	text-align: center;
}
/*		formato/estilo del mensaje de bienbenida	*/
.animation__inicio__container {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(20, 5%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;

	height: 100%;
	width: 100;

}
/*	le doy vida a las animaciones de la página de inicio 	*/
.animation__elemento {	
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 25%;
	font-size: 20px;
	position: relative;
	animation-name: move__inicio;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__elemento:first-child {
	grid-column: 1/4;
	grid-row: 1/3;

}
.animation__elemento:nth-child(2) {
	grid-column: 1/4;
	grid-row: 4/6;
}
.animation__elemento:nth-child(3) {
	grid-column: 1/4;
	grid-row: 7/9;
}
.animation__elemento:nth-child(4) {
	grid-column: 1/4;
	grid-row: 10/12;
}
.animation__elemento:nth-child(5) {
	grid-column: 1/4;
	grid-row: 13/15;
}.animation__elemento:nth-child(6) {
	grid-column: 1/4;
	grid-row: 16/18;
}
.animation__elemento:last-child {
	grid-column: 1/4;
	grid-row: 19/21;
}
/* defino el estilo del movimiento, como va a cambiar el formato 	*/
@keyframes move__inicio {
	0%{
		left: 0;
		background: transparent;
		color: transparent;
	}
	50%{
		background: rgba(255, 255, 255, 0.7);
		border: 2px solid rgba(255, 255, 255, 0.7);
		box-shadow: 2px	2px	15px #000;
		color: rgb(0, 104, 104);
	}
	100%{
		left: 50%;
		background: rgba(0, 255, 255, 0.3);
		border: 2px solid rgb(0, 255, 255);
		box-shadow: 2px	2px	15px rgb(0, 255, 255);
		color: #fff;
	}
}

/*		---	---	---	---		Estilo del cuerpo de las página Inicio		---	---	---	---		*/
.cuerpo {
	display: grid;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(20, 5%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
}
.cuerpo__inicio__elemento {
	display: grid;
}

.cuerpo__inicio__elemento:first-child {
	grid-column: 4/18;
	grid-row: 1/2;	
}
.cuerpo__inicio__elemento:nth-child(2){
	grid-column: 8/14;
	grid-row: 5/11;	
}
.cuerpo__inicio__elemento:last-child {
	grid-column: 2/20;
	grid-row: 15/20;
}
/*		- - - - - - - - - - 	Estilo de elementos 	- - - - - - - - - -		*/
/*		- - - - - - - - - - 	Nombre	 	- - - - - - - - - -		*/
h1 {
	text-align: center;
	box-sizing: content-box;
	font-family: cursive;
	text-shadow: #fff 5px 0 10px;
	font-size: 40px !important;
	margin: 0.2vw;
	padding: 0.5vw;
	text-align: center;
	color: #fff;
}
/* con esto defino un cambio del nombre del individuo al pasar el cursor por el mismo	*/
.fullname:hover{
	font-size: 75px !important;
	text-shadow: #000 10px 5px 10px;
}
.nombre:hover {
	color: #FC2D00;
}
.apellido:hover {
	color: #002EFC;	
}
/*		- - - - - - - - - - 	Foto persona	 	- - - - - - - - - -		*/
.foto img {
	border: 2px solid #ffffff;
	box-shadow: 2px	2px	15px 0 #000;
	border-radius: 10%;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
/*		- - - - - - - - - - 	description	 	- - - - - - - - - -		*/
.description {
	border: 2px solid #fff;
	border-radius: 5px;
	text-shadow: #fff0 10px 0 15px;
	box-shadow: 2px	2px	15px 0 #fff;
	font-size: 20px;
	color: #fff;
	align-items: center;
	padding: 5px;
	background: url("abstracto.jpg");
	background-size: cover;
}
/*		---------------		------ --- ------ -- --- ------ -----		---------------		*/
/*		---------------		------ --- ------ -- --- ------ -----		---------------		*/
/*		---------------		Formato y/o estilos de la página "DATOS"	---------------		*/

/* Siguiendo el orden descrito en el html primero las animaciones, en este caso el contedor de la "izquierda", al cual llamé: "animation__datta__container1 " */
.animation__datta__container1 {
	display: grid;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(40, 2.5%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;

}
/*	en esta sección defino a que elemento le va a tocar c/1 de las funciones de las animaciones, a los elementos impares les dí un formato y a los pares otro,
	es muy probable que exista una forma de economizar lineas de código para este tipo de formatos, pero lo desconozco */
.animation__datta__elemento1:first-child{
	grid-column: 2/8;
	grid-row: 6/6;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento1:nth-child(2){
	grid-column: 9/15;
	grid-row: 6/6;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento1:nth-child(3){
	grid-column: 2/8;
	grid-row: 9/9;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento1:nth-child(4){
	grid-column: 9/15;
	grid-row: 9/9;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento1:nth-child(5){
	grid-column: 2/8;
	grid-row: 12/12;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento1:nth-child(6){
	grid-column: 9/15;
	grid-row: 12/12;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
/*	salto de linea para el primer grupo de animaciones					*/
.animation__datta__elemento1:nth-child(7){
	grid-column: 2/8;
	grid-row:26/26;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento1:nth-child(8){
	grid-column: 9/15;
	grid-row:26/26;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento1:nth-child(9){
	grid-column: 2/8;
	grid-row: 29/29;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento1:nth-child(10){
	grid-column: 9/15;
	grid-row: 29/29;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento1:nth-child(11){
	grid-column: 2/8;
	grid-row: 32/32;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento1:last-child{
	grid-column: 9/15;
	grid-row: 32/32;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta1__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
/*	función de formato para elementos impares */
@keyframes datta1__move1 {
	0%{		
		background: transparent;
		color: transparent;
	}
	100%{		
		background: rgba(0, 255, 255, 0.3);
		border: 2px solid rgb(0, 255, 255);
		box-shadow: 2px	2px	15px rgb(0, 255, 255);
		color: #fff;
	}
}
/*	función de formato para elementos pares */
@keyframes datta1__move2 {
	0%{		
		background: transparent;
		color: transparent;
	}
	100%{		
		background: rgba(0, 255, 255, 0.3);
		border: 2px solid rgb(0, 255, 255);
		box-shadow: 2px	2px	15px rgb(0, 255, 255);
		color: #fff;
	}
}
/* Siguiendo el orden descrito en el html, primero las animaciones, en este caso el contedor de la "derecha", al cual llamé:"animation__datta__container2 " */
.animation__datta__container2{
	display: grid;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(40, 2.5%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
}
/*	Definicion de elementos	*/
.animation__datta__elemento2:first-child {
	grid-column: 7/13;
	grid-row: 6/6;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento2:nth-child(2) {
	grid-column: 14/20;
	grid-row: 6/6;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento2:nth-child(3) {
	grid-column: 7/13;
	grid-row: 9/9;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento2:nth-child(4) {
	grid-column: 14/20;
	grid-row: 9/9;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento2:nth-child(5) {
	grid-column: 7/13;
	grid-row: 12/12;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento2:nth-child(6) {
	grid-column: 14/20;
	grid-row: 12/12;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento2:nth-child(7) {
	grid-column: 7/13;
	grid-row: 26/26;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento2:nth-child(8) {
	grid-column: 14/20;
	grid-row: 26/26;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento2:nth-child(9) {
	grid-column: 7/13;
	grid-row: 29/29;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.animation__datta__elemento2:nth-child(10) {
	grid-column: 14/20;
	grid-row: 29/29;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento2:nth-child(11) {
	grid-column: 7/13;
	grid-row: 32/32;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation__datta__elemento2:last-child {
	grid-column: 14/20;
	grid-row: 32/32;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 15%;
	font-size: 20px;
	position: relative;
	animation-name: datta2__move1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
@keyframes datta2__move1 {
	0%{		
		background: transparent;
		color: transparent;
	}
	100%{		
		background: rgba(0, 255, 255, 0.3);
		border: 2px solid rgb(0, 255, 255);
		box-shadow: 2px	2px	15px rgb(0, 255, 255);
		color: #fff;
	}
}
/*	función de formato para elementos pares */
@keyframes datta2__move2 {
	0%{		
		background: transparent;
		color: transparent;
	}
	100%{		
		background: rgba(0, 255, 255, 0.3);
		border: 2px solid rgb(0, 255, 255);
		box-shadow: 2px	2px	15px rgb(0, 255, 255);
		color: #fff;
	}
}


/*		---	---	---	---		Estilo del cuerpo de las página Datos		---	---	---	---		*/
.cuerpo__data__elemento {
	display: grid;
	border: 2px solid #fff;
}
.cuerpo__data__elemento:first-child {
	grid-column: 2/20;
	grid-row: 1/10;	
}
.cuerpo__data__elemento:nth-child(2) {
	grid-column: 2/20;
	grid-row: 11/14;
}
.cuerpo__data__elemento:nth-child(3) {
	grid-column: 2/6;
	grid-row: 15/20;
}
.cuerpo__data__elemento:nth-child(4) {
	grid-column: 9/13;
	grid-row: 15/20;
}
.cuerpo__data__elemento:last-child {
	grid-column: 16/20;
	grid-row: 15/20;
}
/*		---	---	---	---		Estilo de la grilla de Exp Laboral		---	---	---	---		*/
.experiencia {
	display: grid;
	grid-template-columns: repeat(25, 4%);
	grid-template-rows: repeat(25, 4%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	box-shadow: 2px	2px	15px 0 #fff;
	border-radius: 10px;
	color: #000;
	font-size: 14px;
	background: url("experiencia.jpg");	
}

.experiencia__item:first-child {
	grid-column: 2/18;
	grid-row: 2/3;
}
.experiencia__item:last-child {
	grid-column: 2/18;
	grid-row: 6/18;
}
.espaciado {
	height: 5%;
	width: 100%;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: transparent;
	box-shadow: 2px	2px	15px 0 #000;
}

/*		---	---	---	---		Estilo de la grilla de Formación		---	---	---	---		*/
.formation {
	display: grid;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(10, 10%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	box-shadow: 2px	2px	15px 0 #fff;
	border-radius: 10px;
	color: #000;
	background: url("formation.jpg");
	background-size: cover;	
}

.formation__item:first-child {
	grid-column: 2/18;
	grid-row: 2/4;
}
.formation__item:last-child {
	grid-column: 2/18;
	grid-row: 6/10;}

/*		---	---	---	---		Estilo de la grilla de Idiomas		---	---	---	---		*/
/*	Estilo del contenedor IDIOMAS*/
.Idiomas {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	border-radius: 10px;
	color: #000;	
}
/* 		EFECTOS	contenedor Idiomas	*/
.Idiomas:hover {
	box-shadow: 2px	2px	20px 0 #fff;
	scale: 110%;
}
/*	Estilo de la imagen asociada a IDIOMAS*/
.Idiomas  img{
	grid-column: 1/11;
	grid-row: 1/11;
	border: 2px solid #ffffff;
	box-shadow: 2px	2px	15px 5pxSS #000;
	border-radius: 5px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.Idiomas__item:nth-child(2) {
	grid-column: 3/5;
	grid-row: 2/2;
	font-size: 20px;
}
.Idiomas__item:last-child {
	grid-column: 3/6;
	grid-row: 5/10;
	font-size: 20px;
}
/*		---	---	---	---		Estilo de la grilla de Lenguages de Programación		---	---	---	---		*/
.datta {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	border-radius: 10px;
	color: #000;	
}
/* 		EFECTOS	contenedor datta	*/
.datta:hover {
	box-shadow: 2px	2px	20px 0 #000;
	scale: 110%;
}
.datta img {
	grid-column: 1/11;
	grid-row: 1/11;
	border: 2px solid #ffffff;
	box-shadow: 2px	2px	15px 0 #000;
	border-radius: 5px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.datta__item {
		color: #fff;
}
.datta__item:nth-child(2) {
	grid-column: 2/5;
	grid-row: 2/2;
	font-size: 20px;

}
.datta__item:last-child {
	grid-column: 3/6;
	grid-row: 4/10;
	font-size: 20px;
}

/*		---	---	---	---		Estilo de la grilla de Lenguages de Programación		---	---	---	---		*/
.skills {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	border-radius: 10px;
	color: #000;	
}
/* 		EFECTOS	contenedor Skills	*/
.skills:hover {
	box-shadow: 2px	2px	20px 0 #fff;
	scale: 110%;
}
.skills img {
	grid-column: 1/11;
	grid-row: 1/11;
	border: 2px solid #ffffff;
	box-shadow: 2px	2px	15px 0 #000;
	border-radius: 5px;
	object-fit: cover;
	height: 100%;
	width: 100%;

}
.skills__item:nth-child(2) {
	grid-column: 2/5;
	grid-row: 2/2;
	font-size: 17px;
}
.skills__item:last-child {
	grid-column: 3/10;
	grid-row: 4/10;
	font-size: 13px;
	color: #fff;
}
/*		---------------		------ --- ------ -- --- ------ --------		---------------		*/
/*		---	---	---	---		Estilo de las animaciones de la página contacto 	---	---	---	---		*/
/*		Les he dado a las asnimaciones el efecto que pareciera que se acerquen y se alejen en el mismo tiempo */
/*		animaciones de la izquierda */
.anime__contacto__container1 {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(50, 2%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;


}
/*	le doy vida a las animaciones de la izquierda de la página de contacto 	*/
.anime__container1__elemento {	
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	position: relative;
	animation-name: move__contacto1;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.anime__container1__elemento:first-child {
	grid-column: 1/4;
	grid-row: 1/4;
}
.anime__container1__elemento:nth-child(2) {
	grid-column: 1/4;
	grid-row: 5/8;
}
.anime__container1__elemento:nth-child(3) {
	grid-column: 1/4;
	grid-row: 9/12;
}
.anime__container1__elemento:nth-child(4) {
	grid-column: 1/4;
	grid-row: 13/16;
}
.anime__container1__elemento:nth-child(5) {
	grid-column: 1/4;
	grid-row: 17/20;
}
.anime__container1__elemento:nth-child(6) {
	grid-column: 1/4;
	grid-row: 21/24;

}
.anime__container1__elemento:nth-child(7) {
	grid-column: 1/4;
	grid-row: 25/28;
}
.anime__container1__elemento:nth-child(8) {
	grid-column: 1/4;
	grid-row: 33/36;
}
.anime__container1__elemento:nth-child(9) {
	grid-column: 1/4;
	grid-row: 37/40;
}
.anime__container1__elemento:last-child {
	grid-column: 1/4;
	grid-row: 41/44;
}

@keyframes move__contacto1 {
	0%{
		left: 0;
		background: transparent;
		color: transparent;
	}
	50%{
		background: rgba(255, 255, 255, 0.7);
		border: 2px solid rgba(255, 255, 255, 0.7);
		box-shadow: 2px	2px	15px #000;
		color: rgb(0, 104, 104);
	}
	100%{
		left: 50%;
		background: rgba(0, 255, 255, 0.3);
		border: 2px solid rgb(0, 255, 255);
		box-shadow: 2px	2px	15px rgb(0, 255, 255);
		color: #fff;
	}
}

/*		animaciones de la derecha */
.anime__contacto__container2 {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(50, 2%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;

}
/*	le doy vida a las animaciones de la derecha de la página de contacto 	*/
.anime__container2__elemento {	
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	position: relative;
	animation-name: move__contacto2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.anime__container2__elemento:first-child {
	grid-column: 8/11;
	grid-row: 8/11;

}
.anime__container2__elemento:nth-child(2) {
	grid-column: 8/11;
	grid-row: 12/15;
}
.anime__container2__elemento:nth-child(3) {
	grid-column: 8/11;
	grid-row: 19/22;
}
.anime__container2__elemento:nth-child(4) {
	grid-column: 8/11;
	grid-row: 23/26;
}
.anime__container2__elemento:nth-child(5) {
	grid-column: 8/11;
	grid-row: 27/30;
}
.anime__container2__elemento:nth-child(6) {
	grid-column: 8/11;
	grid-row: 31/34;
}
.anime__container2__elemento:nth-child(7) {
	grid-column: 8/11;
	grid-row: 35/38;
}
.anime__container2__elemento:last-child {
	grid-column: 8/11;
	grid-row: 39/42;
}

@keyframes move__contacto2 {
	0%{
		right: 50%;
		background: transparent;
		color: transparent;
	}
	50%{
		background: rgba(255, 255, 255, 0.7);
		border: 2px solid rgba(255, 255, 255, 0.7);
		box-shadow: 2px	2px	15px #000;
		color: rgb(0, 104, 104);
	}
	100%{
		right: 100%;
		background: rgba(0, 255, 255, 0.3);
		border: 2px solid rgb(0, 255, 255);
		box-shadow: 2px	2px	15px rgb(0, 255, 255);
		color: #fff;
	}
}


/*		---	---	---	---		Estilo del cuerpo de las página Contacto		---	---	---	---		*/

.cuerpo__contact__container {
	display: grid;
	grid-column: 1/21;
	grid-row: 1/21;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(20, 5%);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: dense;
	width: 100%;
	height: 100%;
	border: 2px solid #ffffff;
	box-shadow: 2px	2px	15px 0 rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	background: url("fondo1.jpg");
	background-size: cover;
}
/*		---	---	---	---		Estilo de la grilla de los elementos del contenedor		---	---	---	---		*/
.container__elemento {
	display: grid;
}
.container__elemento:first-child {
	grid-column: 7/15;
	grid-row: 2/2;
}
.container__elemento:nth-child(2) {
	grid-column: 7/15;
	grid-row: 4/4;
}
.container__elemento:nth-child(3) {
	grid-column: 7/15;
	grid-row: 6/6;
}
.container__elemento:nth-child(4) {
	grid-column: 7/15;
	grid-row: 8/8;
}
.container__elemento:nth-child(5) {
	grid-column: 6/16;
	grid-row: 10/10;
}
.container__elemento:nth-child(6) {
	grid-column: 2/10;
	grid-row: 12/20;
}
.container__elemento:last-child {
	grid-column: 12/20;
	grid-row: 12/20;
}
/*		---	---	---	---		Estilo de la grilla de Inputs y Botones		---	---	---	---		*/
/*			formato subtítulo			*/

.container__elemento h2 {
	box-sizing: content-box;
	font-family: sans-serif;
	text-shadow: #fff 5px 0 10px;
	font-size: 30px !important;
	margin: 0.2vw;
	padding: 0.5vw;
	text-align: center;
	color: #000;
}
/*		Efectos y/o formato de las letras del Subtítulo		*/

.sub__title__letra0:hover {
	color: #0096d3;
}
.sub__title__letra1:hover {
	color: #e29700;	
}
.sub__title__letra2:hover {
	color: #03eaa4;	
}
.sub__title__letra3:hover {
	color: #d75100;	
}
.sub__title__letra4:hover {
	color: #d75100;	
}
.sub__title__letra5:hover {
	color: #03eaa4;	
}
.sub__title__letra6:hover {
	color: #e29700;	
}
.sub__title__letra7:hover {
	color: #0096d3;	
}
/*			formato inputs			*/
.container__elemento input {
	background: transparent;
	border-radius: 5px;
}

/*		---------------		-----------------		---------------		*/
/*		---	---	---	---		Estilo de Botones		---	---	---	---		*/
.buttons {
	display: grid;
	grid-template-columns: repeat(10, 10%);	
	grid-auto-rows: 100%;
	grid-auto-columns: 100%;
	grid-auto-flow: dense;
	align-items: center;
	border-radius: 5px;
}
.btn {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}
.btn:first-child {
	grid-column: 2/5;
}
.btn:last-child {
	grid-column: 7/10;
}
/*		---	---	---	---		Estilo de Imágenes		---	---	---	---		*/
.imagge img {
	box-shadow: 2px	2px	15px 0 #000;
	border-radius: 5px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
