/* 		-----------------------		Defino las area de trabajo común a todo el proyecto		-------------------		*/
/*												INDEX																*/
body {
	
	background: linear-gradient(#0054b8, #000000);
	height: 100%;
	width: 100%;
	font-family: 'Source Serif Pro', serif;
	color: #ffffff;
}
/*												Títulos																*/
.Title{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	text-shadow: #000 10px 0 10px;

}
.Title:hover {
	color: #000000;
	text-shadow: #000 15px 0 10px;
}
/*												Botones																*/
.botones{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;	
	grid-gap: 50px;
	padding: 20px;
}
.btn {
	padding: 10px 20px;
	background: rgba(0, 255, 255, 0.3);
	border: 2px solid rgb(0, 255, 255);
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgb(0, 255, 255);
}
.btn:hover {
	transform: scale(0.95);
}


/*		-----------------------------	Items Específicos de la página Portada	--------------------------------	*/


.index__presentacion {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-gap: 50px;
}
/*												Título: Nombre y Apellido											*/

/*												Imagen																*/
.imagen__persona{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 270px;
	clip-path: circle(50% at 50% 50%);
	transform: translate(350%);
}
.retrato {
	width: 100%;
	height: 100%;
}
/*												Descripcion															*/
.descripcion{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 10%;
	margin: 5% 10% 5% 10%;
	font-size: 25px;
	text-shadow: #fff 1px 0 10px;
}
/*		-----------------------------	Items Específicos de la página Formación	----------------------------	*/
.Formacion {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px;

}
.sub-title-form {
	font-size: 25px;
	text-shadow: #000 5px 0 5px;
	text-align: left;
}

/*												TÍTULO	 															*/
/*												Educación															*/
.Education{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #ffffff;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 5px 10px 15px 0 #000;
	width: 800px;

	color: #000000;
	font-size: 20px;

}
/*												CONTENIDO								*/

.contenido {
	display: grid !important;
	grid-template-columns: repeat(3, 250px);
	grid-template-rows:  repeat(1, 300px);	
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-gap: 10px;
	border: 2px solid #000;
	border-radius: 10px;
	background: transparent;
	box-shadow: 5px 10px 15px 0 #000;
	height: 1fr;
	width: 1fr;
	padding: 10px;
	width: 800px;
	justify-content: center;
	font-size: 20px;
}

.contenido-items{	
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
}

.contenido-items:first-child {
	grid-column: 1/1;
	grid-row: 1/1;
}

.contenido-items:nth-child(2) {
	grid-column: 2/2;
	grid-row: 1/1;
}

.contenido-items:last-child {
	grid-column: 3/3;
	grid-row: 1/1;
}

/*												Idiomas						*/
.contenedor-idiomas{
	display: grid;
	border: 1px solid #000;
	border-radius: 5px;
	grid-gap: 5px;
	padding: 5px;
}
.idioma {
	display: grid;
	grid-template-columns: repeat(1, 15px)  1fr;
	grid-auto-columns: 1fr;
	grid-gap: 20px;
	justify-content: center;
	height: 30px;
	text-align: left;

}
/*						ESTILOS LENGUAJES									*/
/*						ESPAÑOL												*/

.espp img{
	width: 25px;
	height: 30px;
	background-repeat: no-repeat;
}
/*						INGLES												*/

.ingg img{
	width: 25px;
	height: 30px;
	background-repeat: no-repeat;
}
/*						ITALIANO											*/

.itt img{
	width: 25px;
	height: 30px;
	background-repeat: no-repeat;
}
/*												Habilidades(ya esta hecho, solo por orden)															*/

/*										Lenguajes de Programación(ya esta hecho, solo por orden)					*/


/*								Botones(solo definido para organizacion, ninguna informacion)						*/
/*		-----------------------------	Items Comunes de la página Experiencia	-------------------------------	*/

.experiencia{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.laboral {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #ffffff;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 5px 10px 15px 0 #000;
	width: 800px;

	color: #000000;
	font-size: 20px;
}
/*		-----------------------------	Items Específicos de la página Experiencia	-------------------------------	*/
.job {
	font-size: 25px;
}.espaciado {
	height: 0.75vw;
	width: 1fr;
	border-radius: 5px;
	background-color: #0054b8;
}




/*		-----------------------------	Items Comunes de la página Contacto		------------------------------------	*/
.contacto{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.sub-title-contact {
	font-size: 25px;
	text-shadow: #000 5px 0 5px;
	text-align: left;
	color: #000000;
}
.datos {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows:  repeat(3, 200px);	
	grid-auto-rows: 80%;
	grid-auto-columns: 1fr;
	grid-gap: 10px;
	border: 2px solid #000;
	border-radius: 10px;
	background: transparent;
	box-shadow: 5px 10px 15px 0 #000;
	padding: 10px;
	height: 620px;
	width: 1fr;
	justify-content: center;
	font-size: 20px;
}
.datos-items {
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 5px 10px 15px 0 #000;
	padding: 5px;
	background: #ffffff	;
}
.datos-items:first-child {
	display: grid;
	grid-column: 1/1;
	grid-row: 1/3;
}
.datos-items:nth-child(2) {
	display: grid;
	grid-column: 2/2;
	grid-row: 1/3;
}
.datos-items:last-child {
	display: grid;
	grid-column: 1/3;
	grid-row: 3/3;
}


/*		-----------------------------	Items Específicos de la página Contacto		--------------------------------	*/
/*
/*		---------------				datos de contacto		---------------												*/

.address-item {
	display: grid;
	grid-template-columns: repeat(1, 15px)  1fr;
	grid-auto-columns: 1fr;
	grid-gap: 20px;
	font-size: 20px;
	padding: 10px;
	color: #000000;

}
/*										Direccion																		*/


.dirr img {
	width: 30px;
	height: 40px;
	background-repeat: no-repeat;
	object-fit: cover;
}
/*										Teléfono																		*/
.telf img {
	width: 25px;
	height: 30px;
	background-repeat: no-repeat;
	object-fit: cover;
}
/*										e-Mail																			*/
.mail img {
	width: 25px;
	height: 30px;
	background-repeat: no-repeat;
}
/*		---------------				Solicitud de contacto		---------------											*/
.entrada__texto {
	font-size: 20px;
	color: #000000;
	border-radius: 10px;	
	border-bottom: 2px solid #000;
	border-left: 2px transparent #000;
	border-right: 2px transparent #000;
	border-top: 2px transparent #000;
}
/*		---------------				Paginas extras				---------------											*/
